.components-form-token-field__input-container {
	position: relative;
}

.components-form-token-field__suggestions-list {
	position: absolute;
	background: white;
	border: 1px solid #ccc;
	max-width: 100%;
}
